<nav class="navigation-component">
    {{> Button type='link' page='chatboard' label='Login'}}
    {{> Button type='link' page='login' label='Signup'}}
    {{> Button type='link' page='chatboard' label='Chatboard'}}
    {{> Button type='link' page='profile' label='Profile'}}
    {{> Button type='link' page='error4xx' label='4xx'}}
    {{> Button type='link' page='error5xx' label='5xx'}}
</nav>