<div class="input-component">
    {{#if label}}
        <label class="input-component__label" for="{{name}}">{{label}}</label>
    {{/if}}

    {{{ inputField }}}

    {{#if showDivider}}
        <hr class="input-component__divider">
    {{/if}}

    {{#if error}}
      <div class="input-component__error">
        {{ error }}
      </div>
    {{/if}}
</div>
