@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';

.chat {
  @include display-flex-center();
  width: 100%;
  height: 100%;

  &__content {
    @include display-flex-center();
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px 10px 20px;
  }

  &__container {
    @include display-flex-start();
    flex-direction: column-reverse;
    overflow: auto;
    flex: 1;
    width: 100%;
    gap: 20px;
    padding: 10px;
  }

  &__footer,
  &__header {
    height: 40px;
    width: 100%;
  }

  &__header {
    @include display-flex-center();
    justify-content: flex-end;
    width: 100%;
    border-bottom: 1px solid $light-grey-3;
  }

  &__settings {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;

    .button:hover {
      cursor: pointer;
      opacity: 0.5;
    }
  }

  &__author-info {
    @include display-flex-start();
    align-items: center;
    gap: 10px;
  }

  &__author-name {
    @include text-13();
    font-weight: 600;
    color: $black-2;
  }

  &__footer {
    @include display-flex-center();
    gap: 6px;

    .button__icon {
      margin: 0;
    }
  }

  &__item {
    @include display-flex-center();
    @include text-12();
    padding: 10px;
    border: 1px solid $light-grey-3;
    border-radius: 12px;
    color: $black-2;
    flex-direction: column;

    &_author {
      margin-left: auto;
      background: $light-blue-2;
    }

    &_not-author {
      margin-right: auto;
      background: $light-grey-2;
    }

    &_checked {
      margin-left: auto;
    }
  }

  &__item-info {
    @include display-flex-center();
    @include text-9();
    color: $light-blue-1;
    margin: 6px 0 0 auto;
    gap: 2px;
  }

  &__item-attached-pict {
    border-radius: 8px;
    max-width: 300px;
  }

  &__modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 20%;
  }

  &__modal-content {
    background-color: $white;
    margin: 5% auto;
    padding: 20px;
    box-shadow: 0 0 6px 0 rgba($black-1, 0.14);
    border-radius: 12px;
    width: 340px;
    height: 257px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .input-component {
      height: 35px !important;
      .input {
        border: 1px solid black;
        border-radius: 6px;
        padding: 7px !important;
      }
    }

    .button__confirmation {
      height: 40px !important;
    }
  }

  &__modal-title {
    margin-top: 20px;
    @include text-15();
  }

  &__modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: $black-2;
    font-size: 40px;

    button {
      font-size: 24px !important;
    }

    &:hover,
    &:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
  }
}
