@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.button {
  @include display-flex-center();
  @include text-13();
  margin: 0;
  padding: 0;
  border: none $transp;

  &__confirmation {
    background: $light-blue-1;
    color: $white;
    border-radius: $border-radius-button;
    width: 100%;
    padding: 10px;
  }

  &__link {
    @include text-11();
    background: $white;
    color: $light-blue-1;
  }

  &__secondary {
    @include text-12();
    background: $transp;
    color: $light-grey-1;
  }

  &__icon {
    margin-left: 6px;
    display: inline-flex;

    &_small {
      margin-left: 4px;
      height: 8px;
    }
  }

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}
