{{#> Error title="500" type="5xx"}}
    <div class="error__subtitle">
        <h3 class="error__subtitle-text">Oops! Internal Server Error</h3>
    </div>

    <div class="error__back">
        {{> Button type='link' page='chatboard' label='Back to chats' }}
    </div>
{{/Error}}
