{{#> PageContainer }}
    <div class="error__container">
        <div class="error__title">
            <h1 class="error__title-text">{{ title }}</h1>
        </div>
        {{> @partial-block}}
    </div>
{{/ PageContainer }}
