@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.error {
  @include full-width-height();

  &__container {
    @include display-flex-center();
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  &__title,
  &__subtitle {
    color: $black-2;
  }

  &__title {
    @include text-40();
  }

  &__subtitle {
    @include text-20();
  }

  &__back {
    @include text-11();
    color: $light-blue-1;
  }
}