<main class="page-container-component">
  {{{ errorItem }}}
  <div class="page-container-component__wrapper {{#if className}} page-container-component__{{className}} {{/if}}">
    {{{ component }}}
  </div>
</main>
