<div class="chatboard">
        <div class="chatboard__list">
            <div class="chatboard__profile">
                {{{ buttonProfile }}}
            </div>

            <div class="chatboard__search">
                {{{ searchbar }}}
            </div>

            <div class="chatboard__list-items">
                {{{ chatList }}}
            </div>
        </div>

        <div class="chatboard__chat">
            {{{ chat }}}
        </div>
</div>
