@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.profile {
  &__container {
    @include display-flex-center();
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    gap: 30px;
    margin-top: 100px;
  }

  &__details {
    @include display-flex-center();
    flex-direction: column;
    width: 100%;

    .input {
      text-align: right;
    }

    .input-component__divider {
      border-width: 0.5px;
    }
  }

  &__buttons {
    @include display-flex-start();
    flex-direction: column;
    margin-right: auto;
    gap: 10px;
  }
}