{{#> PageContainer}}
    {{#> ProfileDialog}}
        <div class="profile__details">
            {{> Input type='text' label='Email' name='email' showLabel='true' showDivider='true' placeholder=userData.email readonly=true}}
            {{> Input type='text' label='Login' name='login' showLabel='true' showDivider='true' placeholder=userData.login readonly=true}}
            {{> Input type='text' label='Name' name='first_name' showLabel='true' showDivider='true' placeholder=userData.first_name readonly=true}}
            {{> Input type='text' label='Second name' name='second_name' showLabel='true' showDivider='true' placeholder=userData.second_name readonly=true}}
            {{> Input type='tel' label='Phone number' name='phone' pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" showLabel='true' showDivider='true' placeholder=userData.phone readonly=true}}
        </div>
    {{/ ProfileDialog}}
{{/PageContainer}}