<div class="profile__container">
    <div class="profile__button-back">{{{ buttonBack }}}</div>
    <div class="profile__avatar">
        {{{ avatar }}}
    </div>
    <div class="profile__name">
        {{ name }}
    </div>
    {{{ component }}}
</div>
