<div class="error {{#if type}} error_{{type}}{{/if}} {{#if title}} error_visible{{/if}}">
  <div class="error__title">
    <h1 class="error__title-text">{{ title }}</h1>
  </div>

  <div class="error__subtitle">
    <h3 class="error__subtitle-text">{{ subtitle }}</h3>
  </div>
</div>

