<nav class="navigation-component">
    {{> Button type='link' page='login' selector='nav-item' label='Login'}}
    {{> Button type='link' page='signup' selector='nav-item' label='Signup'}}
    {{> Button type='link' page='chatboard' selector='nav-item' label='Chatboard'}}
    {{> Button type='link' page='profile' selector='nav-item' label='Profile'}}
    {{> Button type='link' page='profile_details_edit' selector='nav-item' label='Edit user'}}
    {{> Button type='link' page='profile_password_edit' selector='nav-item' label='Edit password'}}
    {{> Button type='link' page='error4xx' selector='nav-item' label='4xx'}}
    {{> Button type='link' page='error5xx' selector='nav-item' label='5xx'}}
</nav>
