<div class="profile__details">
   {{{ inputList }}}
  <div class="profile__buttons">
      {{{ buttonProfileDetailsEdit }}}
      {{{ buttonProfilePasswordEdit }}}
      {{{ buttonQuit }}}
  </div>
</div>


