{{#> PageContainer}}
    {{#> ProfileDialog type='edit'}}
        <div class="profile__details">
            {{> Input type='text' selector='edit' label='Old password' name='oldPassword' showLabel='true' showDivider='true'}}
            {{> Input type='text' selector='edit' label='New password' name='newPassword' showLabel='true' showDivider='true'}}
            {{> Input type='text' selector='edit' label='Repeat new password' name='repeat_password' showLabel='true' showDivider='true'}}
        </div>
    {{/ ProfileDialog}}
{{/PageContainer}}