<form class="profile__container">
    <div class="profile__avatar">
        {{> Avatar avatar=userData.avatar size='big' name="avatar"}}
    </div>
    <div class="profile__name">
        {{userData.name}}
    </div>

    {{> @partial-block}}

    <div class="profile__buttons">
        {{#if type}}
            {{#if (isEdit type)}}
                {{> Button type='confirmation' label='Save'}}
                {{> Button page='profile' type='confirmation' label='Cancel'}}
            {{else}}
                {{> Button type='confirmation' page='chatboard' label='Back to chatboard'}}
            {{/if}}
        {{else}}
            {{> Button type='link' page='profile_details_edit' label='Change details'}}
            {{> Button type='link' page='profile_password_edit' label='Change password'}}
            {{> Button type='link' page='login' selector='danger' label='Quit'}}
        {{/if}}
    </div>
</form>
