$white: #ffffff;
$light-blue-1: #3369f3;
$light-blue-2: #e4edfd;
$light-grey-1: #999999;
$light-grey-2: #fbfbfb;
$light-grey-3: #efefef;
$light-grey-4: #eaeaea;
$black-1: #000000;
$black-2: #1e1e1e;
$red-1: #ff0000;
$transp: transparent;

$border-radius-button: 8px;
$border-radius-container: 12px;
