$transp: transparent;
$white: #FFFFFF;
$light-blue-1: #3369F3;
$light-blue-2: #E4EDFD;
$light-grey-1: #999999;
$light-grey-2: #FBFBFB;
$light-grey-3: #EFEFEF;
$light-grey-4: #EAEAEA;
$black-1: #000000;
$black-2: #1E1E1E;
$red-1: #FF0000;

$border-radius-button: 8px;
$border-radius-container: 12px;