<div class="chat-input">
  <div class="chat-input__attach-file">
    {{{ buttonAttachFile }}}
  </div>
  <div class="chat-input__message-input">
    {{{ inputList }}}
  </div>
  <div class="chat-input__send-button">
    {{{ buttonSend }}}
  </div>
</div>
