<div class="chat__item chat__item_{{isAuthor}}">
  {{#if messageText}}
    {{{messageText}}}
  {{/if}}
  <div class="chat__item-info">
    <div class="chat__item-time">
      {{timestamp}}
    </div>
  </div>
</div>
